html, body {
    margin: 0;
    padding: 0;
}
.textCenter {
	text-align: center;
}
/* This is the main navigation bar */
.navigationBar {
	background-color: #04AA6D;
	color: white;
	padding: 2em;
	position: sticky;
	top: 0;
	
}
.carouselDiv {
	border-bottom: 1em solid black;
	border-top: 1em solid black;
	background-color: black;
	width: 100%;


}
.carouselImage {
	height: 30em;
    display:block;
    margin:auto;

}
.siteBottom {
	background-color: black;
	color: white;
	text-align: center;
	margin-top: 10em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}


/* Dropdowns */

.dropdown {
  position: relative;
  display: inline-block;
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}
.dropdownDonate {
  position: relative;
  display: inline-block;
  background-color: gold;
  color: darkblue;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
background-color: #ddd;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover {
background-color: #3e8e41;
}